.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 10px; 
    gap: 1rem;
    grid-auto-flow: dense; 
  }
  
  .gallery-card {
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span auto; 
  